body   {
    background-image:url('C:/Users/lolad/Desktop/GitHub/week-4-game/assets/images/background.jpg');
    background-size: full;
}

h1 {
    text-align: center;
    color: #17202A;

}

h3 {
    text-align: left;
    color: #17202A;
}

p {
    text-align:left;
    color:#FF0000;
    font: 30px;
    font-family: 'Forum', cursive;
}
.gemImage {
    background:url('C:/Users/lolad/Desktop/GitHub/week-4-game/assets/images/background.jpg');
    height:115px;
    width: 150px;
    padding: 10px;
}
