body   {
    background-image:url('assets/images/Crystal Background.jpg');
  
}

h1 {
    text-align: center;
    color: #FFD700

}

h3 {
    text-align: left;
    color: #FFD700
}

p {
    text-align:left;
    color:#9ACD32;
    font: 35px;
}
.gemImage {
    background:url('assets/images/Crystal Background.jpg');
    height:115px;
    width: 150px;
    padding: 10px;
}

